# Python supports many types of data

Some data types are **mutable**, which means their values can be changed. On the other hand, the values of  **immutable** data types cannot be chagned.

|Name|Data type|Mutable|Example|
|-----|------|------|------|
|Boolean|bool|no|True, False|
|Integer|int|no|25, 3400, 25_000|
|Floating point|float|no|3.14, 2.7e5|
|Complex|complex|no|3j, 5+9j|
|Text string|str|no|'alert', "attack", '''a verse attack'''|
|List|list|yes|['Wind', 'Ball', 'Beer']|
|Tuple|tuple|no|(3,4,5)|
|Bytes|bytes|no|b'ab\xff'|
|ByteArray|bytearray|yes|bytearray(...)|
|Set|set|yes|{3,5,7}|
|Frozen set|frozenset|no|frozenset(['Elza', 'Otto'])|
|Dictionary|dict|yes|{'a': 34, 'b': 56}|

To learn about a type of the data, try this.

In [3]:
type(7.8)

float

In [4]:
type(5 + 9j)

complex

In [5]:
type([3,4,5,6])

list

In [6]:
isinstance(4.59, float)  # check if the value is of type float.

True

### Variables

The name of a variable can only contains:

* Lowercase letters (a through z)
* Uppercase letters (A through Z)
* Digits (0 through 9)
* Underscore ('_')

They are case sensitive. thing, Thing and THING are not the same.

They must begins with characters or an underscore, not digits.

Names that begin with underscores are treated specially.

They cannot be one of the Python's reserved words.

### Reserved words

In [1]:
help("keywords")

Here is a list of the Python keywords.  Enter any keyword to get more help.

False               break               for                 not
None                class               from                or
True                continue            global              pass
__peg_parser__      def                 if                  raise
and                 del                 import              return
as                  elif                in                  try
assert              else                is                  while
async               except              lambda              with
await               finally             nonlocal            yield

The value can be assigned to a variable using an equal sign. The value on the right side of the equal sign is always assigned to the variable on the left side.

In [10]:
x = 20.0
b = 'hello, world'
d = {'balloon': 34, 'house': 5}

Operations performed on the variable will affect the value in it.

In [11]:
x * 2

40.0

In [12]:
b.upper()  # upper method is a function that convert letters to uppercase.

'HELLO, WORLD'

In [15]:
d.pop('balloon')  # pop method in a dictionary removes an item with a given key and returns its value

34

The value can be assigned to multiple names.

In [16]:
x = y = z = 30
print(x, y, z)

30 30 30

In [17]:
x, y, z = 34, 24, 35  # this is a technique called unpacking
print(x, y, z)

34 24 35

In [18]:
x = 40
y = 50

x, y = y, x

print(x, y)

50 40

You can use Python's string formatting to print out values of the variables.

In [20]:
x = 500; y = 60

print(f'y={y}, x={x}')  # this is something called f string formatting, more on this later.

y=60, x=500

## Gotchas

In Python, a variable of non-primitive data types is just a name, not a place. The variable just points to a place in a memory that stores the data.

In [7]:
a = 5  # int is primitive data type
b = a  # b is now has a value 5, another set of data
a += 1  # 1 is added to a, only the value in a is incremented
print(a, b)

6 5

In [9]:
a = [1,2,3]
b = a  # b now points to a place that stores a list for a list is not a primitive data type.
a.pop()  # when the value that a points to changes, the value in b changes as well
print(b)  # since b points to the same data location, the last item is also removed (popped) in b

[1, 2]

## Advanced concept

Python is a **strongly typed** language. The data type cannot be changed and operation between two different types is usually not supported. However, operators may function differently when applied to different data types. This is called **operator overloading**.

In [26]:
1 + '1'  # ADDITION OF THE INTEGER AND STRING IS NOT ALLOWED

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [27]:
'a' + 1  # addition of string and integer is also not allowed.

TypeError: can only concatenate str (not "int") to str

In [28]:
'a' + 'b'  # however, a plus operator, when applied to strings, it will concatenate them.

'ab'

In [29]:
'a' * 5  # a multiply operator interpreted as multiple concatenation

'aaaaa'

### Fizzbuzz

In [24]:
n = 1
while n < 50:
    if n % 15 == 0:
        print(f'{n} = fizz buzz')
    elif n % 5 == 0:
        print(f'{n} = buzz')
    elif n % 3 == 0:
        print(f'{n} = fizz')
    n += 1

3 = fizz
5 = buzz
6 = fizz
9 = fizz
10 = buzz
12 = fizz
15 = fizz buzz
18 = fizz
20 = buzz
21 = fizz
24 = fizz
25 = buzz
27 = fizz
30 = fizz buzz
33 = fizz
35 = buzz
36 = fizz
39 = fizz
40 = buzz
42 = fizz
45 = fizz buzz
48 = fizz